<section>

    <div class="d-flex justify-content-between">
      <h4>Lista de usuarios</h4>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>Nombre de usuario</th>
        <th>Fecha de nacimiento</th>
        <th>Edad</th>
        <th>Direccion</th>
      </tr>
      <tr *ngFor="let us of usuarios">
        <td>{{ us.name }}</td>
        <td>{{ us.fecha_nacimiento }}</td>
        <td>{{ us.edad }}</td>
        <td>{{ us.direccion }}</td>
      </tr>
    </table>
 </section>

